!!!
%html
  %head
    %title Jeff Bowne
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width = device-width, initial-scale = 1, maximum-scale = 1' }
    %link{ rel: 'stylesheet', type: 'text/css', href: 'css/styles.css' }
    %link{ href: 'css/font-awesome.min.css', rel: 'stylesheet', type: 'text/css' }
    / %link{ rel: 'stylesheet', type: 'text/css', href: '{{ "/css/styles.css" | relative_url }}' }
    / %script{ src: 'https://code.jquery.com/jquery-3.3.1.min.js' }

  %body
    .background
      %img{src: 'images/parts-bg.png', alt: 'background', class: 'background__image'}

    = Haml::Engine.new(File.read('generated_html/primary_nav.html')).render

    = Haml::Engine.new(File.read('generated_html/intro_area.html')).render

    .divider-bar
      %i.divider-bar__icon.fa.fa-code.fa-3x
    = Haml::Engine.new(File.read('generated_html/resume_area.html')).render

    .divider-bar
      %i.divider-bar__icon.fa.fa-code.fa-3x
    = Haml::Engine.new(File.read('generated_html/animals_area.html')).render

    .divider-bar
      %i.divider-bar__icon.fa.fa-code.fa-3x
    = Haml::Engine.new(File.read('generated_html/design_area.html')).render

    .divider-bar
      %i.divider-bar__icon.fa.fa-code.fa-3x
    = Haml::Engine.new(File.read('generated_html/contact_area.html')).render
